#header {
	color: #333;
	text-align: center;
}

#title {
	
}

#nav {
	width:500px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 25px;
	border-top: 1.5px solid #333;
	border-bottom: 1.5px solid #333;
	padding: 3px;
}

#nav a{
	color: #AAA;
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;
}

#nav a:active, a:hover {
	color: #333;
	text-decoration: none;
}

#nav .selected {
	color: #333;
}

body {
	color: #333;
	font-size: 20px;
	background-color: #FEFCFB;
}

#container {
	/*background-color: #EEE;*/
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}
